﻿@{
    ViewBag.Title = "Sklep sportowy, zamówienie zostało przesłane";
}

<h2>Dziękujemy!</h2>
<div class="text-center">Dziękujemy za dokonanie zamównienia, wyślemy tak szybko jak to tylko możliwe !</div>
